Body {
    Background-Image : Url("Paint Background Image.jpeg");
    Background-Size : Cover;
}

Label {
    Font-Family: 'Cedarville Cursive', cursive;
    Font-Size: 37px;
    Color: #FFFFFF;
}

.Text {
    Background-Image: Url("Black Stroke.png");
    Background-Size: Cover;
    Height: 150px;
    Width: 600px;
}

#The-Canvas {
    Height: 400px;
    Width: 800px;
    Border-Color: Black;
    Border-Style: Solid;
    Border-Radius: 50px;
    Background-Color: White;
}

Input {
    Margin-Top: 50px;
    Background-Color: Black;
    Color: #FFFFFF;
}

::placeholder {
    color: white;
    opacity: 1;
    font-family: cursive;
  }
